.App {
  width: 100%;
  height: 100%;
  background-color: #282c34;
  text-align: center;
  z-index: 2;
  overflow: hidden;
}

.App-header {
  display: flex;
  flex-direction: column;
  height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 3;
  position: relative;
  box-shadow: 0 8px 7px -5px black;
}

.head {
  align-self: center;
  font-size: 60px;
}

.App-Body {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Form-Block {
  background-color: black;
  border-radius: 10px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 35vh;
  height: fit-content;
  padding: 30px;
}

.Header {
  height: 20vh;
  z-index: 1;
}

.Nav-Bar {
  left: 0;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  /* border-color: red;
  border-width: 1px;
  border-style: solid; */
}

.Right {
  position: fixed;
  right: 0;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  /* border-color: violet;
  border-width: 1px;
  border-style: solid; */
}

.Nav-Link {
  color: white;
  margin: 15px;
  white-space: nowrap;
  text-decoration: none;
}

.Nav-Link.focus {
  font-weight: bold;
}

.Table {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  z-index: 1
}

.Affiche {
  height: 240px;
  width: 180px;
  margin: 30px;
  margin-bottom: 0px;
  background-color: gray;
  border-radius: 10px;
  border-width: 0;
  cursor: pointer;
  z-index: 1;
}

.Popup-Wrapper {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  position: absolute;
  content: '';
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.85);
}

.Vignette-Popup {
  padding-bottom: 10px;
  background-color: #282c34;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  /* box-shadow: 10px 10px 4px -4px black, -10px -10px 4px -4px black; */
  height: 70%;
  width: 50vw;
}

.Shadow-Box {
  width: 100%;
  height: 100%;
  /* box-shadow: inset 0 -200px 100vh black, inset 0 200px 100vh black; */
  position: fixed;
  z-index: 100000;
  filter: blur(100vh);
}

.Match {
  color: green;
  font-weight: bold;
}

.Header-Popup {
  margin: 10px;
  display: flex;
  /* justify-content: space-around; */
}

.Movie-Title {
  font-size: x-large;
}

.Movies-Wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-color: violet;
  border-width: 1px;
  border-style: solid; */
}

.Movies-Select {
  position: absolute;
  transform: translate(0, 70px);
  min-width: 200px;
  max-width: 50%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-items: center;
  z-index: 1;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  border-radius: 4px;
}

.Movie-Choice {
  background-color: #282c34;
  color: white;
  border: none;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-color: white;
  font-size: 15px;
  height: 40px;
  overflow: hidden;
  align-items: center;
  text-wrap: nowrap;
}

.Popup-Body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(80vh * 0.7);
}

.Movie-Infos {
  display: grid;
  gap: 10px;
  place-content: flex-start;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: 
  "tl tl tl tl tl tl tl tl"
  "ac ac ac ac dr dr dr dr";
  width: 80%;
  height: 50%;
  background-color: black;
}

.Title-Box {
  width: 100%;
  height: 70%;
}

.Name-List {
  display: grid;
  max-height: 30vh;
  gap: 5px;
  padding: 5px;
  overflow: auto;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  height: 80%;
}

.Popup-Confirm-Button {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Rating {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.Rating > label {
  font-size: 16px;
}

.Confirm-Button {
  font-size: large;
  background-color: green;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}

.Close-Button {
  float: right;
  margin: 5px;
  background: none;
  border: none;
  font-size: large;
  font-weight: bold;
}

.Close-Button:hover {
  color: #555;
}

.Grid-Wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center ;
  font-weight: bolder;
}

.transparent {
  background-color: transparent;
  border-color: transparent;
}

.rounded {
  border-radius: 10px;
}

.top {
  top: 0;
  position: fixed;
}

.right {
  position: relative !important;
  justify-content: flex-end;
}

.center {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

#See-More {
  font-size: medium;
  justify-self: flex-end;
  margin-right: 60px;
  align-self: flex-end;
  width: fit-content;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
}

#See-More:hover {
  text-decoration: underline;
}

#Add-Movie {
  font-size: 30px;
  cursor: inherit;
}

#title {
  grid-area: tl;
  padding-left: 5px;
  padding-right: 5px;
}

#actors {
  grid-area: ac;
}

#directors {
  grid-area: dr;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input[type=text] {
  background-color: #282c34;
  opacity: 1;
  border-radius: 4px;
  border-color: transparent;
  height: 50px;
  width: 100%;
  margin: 20px;
  font-size: 16px;
  color: white;
  padding-left: 15px;
}

input[type=text]::placeholder {
  color: gray;
}

input[type=text].Small {
  border-color: white;
  border-radius: 30px;
  height: 30px;
  width: 170px
}

input[type=password] {
  background-color: #282c34;
  opacity: 1;
  border-radius: 4px;
  border-color: transparent;
  height: 50px;
  width: 100%;
  margin: 20px;
  font-size: 16px;
  color: white;
  padding-left: 15px;
}

button[type=submit] {
  border-color: transparent;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  margin: 20px;
  font-size: 16px;
}

button {
  cursor: pointer;
}

input[type=submit]:hover {
  opacity: 0.8;
}

:disabled {
  cursor: not-allowed;
}

.redirect {
  color: white;
}

label.Title {
  align-self: flex-start;
  font-size: 30px;
}

label.Body {
  align-self: flex-start;
  font-size: 16px;
}

.alert {
  color: red;
}